<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="config">
    <head>
        <!--Common Head-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport"
              content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0"/>
        <title></title>

        <!--Common CSS -->
        <link th:inline="css" th:href="@{/css/common.css}" rel="stylesheet"/>

        <!--Common JS-->
        <script th:inline="javascript" type="text/javascript" th:src="@{/js/common.js}"></script>
    </head>
</html>