<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
    <footer>
        <div class="footer_icons">
            <div class="footer_icon_wrapper bg_white" title="github">
                <a href="https://github.com/Bard-K">
                    <img class="footer_icon_img" th:src="@{/img/github.png}" alt="github">
                </a>
            </div>
            <div class="footer_icon_wrapper" title="tistory">
                <a href="https://vennycode.tistory.com">
                    <img class="footer_icon_img" th:src="@{/img/tistory.png}" alt="tistory">
                </a>
            </div>
        </div>
        <div class="footer_copyright">
            &copy; 2024. vennygo.com. All rights reserved.
        </div>
    </footer>
</html>