<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <header>
        <h1>
            <a th:href="@{/}">
                <img th:src="@{/images/vennygo.png}" alt="Profile Picture">
            </a>
        </h1>
        <nav>
            <ul>
                <li><a th:href="@{/about}">About</a></li>
                <li><a href="javascript:alert('continue...😉')">Story</a></li>
                <li><a href="javascript:alert('continue...🤗')">Food</a></li>
            </ul>
        </nav>
    </header>
</html>