body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header img {
    width: 100px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    /*padding: 20px;*/
}

section {
    padding: 4rem 2rem;
    margin: 0 auto;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}

footer {
    display: block;
    unicode-bidi: isolate;
    height: 11rem;
    padding-top: 3rem;
    background-color: #222;
    text-align: center;
}

footer .footer_icons {
    margin-bottom: 1rem;
}

footer .footer_icon_wrapper {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    padding: 2px;
    margin: 0 .5rem;
    border-radius: 2rem;
    cursor: pointer;
}

footer .footer_copyright {
    font-weight: 400;
    font-size: .9rem;
    color: #f5f5f5;
}

*, :after, :before {
    box-sizing: border-box;
}

.bg_white {
    background-color: #ffffff;
}

.section_title {
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.5;
    color: #fff;
}


#home {
    background-color: #f9f9f9;
}

#resume, #contact {
    background-color: #fff;
}

#top img {
    margin: auto;
    display: flex;
    width: 50%;
    justify-content: center;
}

.bg_violet_1 {
    background-color: #9900B3;
}
.bg_violet_2 {
    background-color: #E6E6CC;
}
.bg_violet_3 {
    background-color: #E6FF80;
}
.bg_violet_4 {
    background-color: #FF80CC;
}
.bg_violet_5 {
    background-color: #BFBFBF;
}

.bg_halloween_1 {
    background-color: #FFA145;
}
.bg_halloween_2 {
    background-color: #FF541C;
}
.bg_halloween_3 {
    background-color: #8F2BCE;
    color: #ffa145;
}
.bg_halloween_4 {
    background-color: #4AA970;
    color: #fff;
}
.bg_halloween_5 {
    background-color: #4E323E;
    color: #fff;
}