<!DOCTYPE html>
<!-- Default Layout Import-->
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
      layout:fragment="content"
>
    <main>
        <section id="menu">
            <ul>
                <li><a href="javascript:void(0)" onclick="scrollToSection('top')">About</a></li>
                <li><a href="javascript:void(0)" onclick="scrollToSection('skills')">Skills</a></li>
                <li><a href="javascript:void(0)" onclick="scrollToSection('career')">Career</a></li>
                <li><a href="javascript:void(0)" onclick="scrollToSection('archiving')">Archiving</a></li>
                <li><a href="javascript:void(0)" onclick="scrollToSection('projects')">Projects</a></li>
            </ul>
        </section>

        <!-- 콘텐츠 시작 -->
        <section id="top">
            <img th:src="@{/images/profile.jpeg}" alt="Profile Picture">
            <p><span th:text="${introduction}" style="color: #8F2BCE;">소개말</span></p>
            <button class="bg_halloween_3" onclick="scrollToSection('about')">더 알아보기 ↓</button>
        </section>

        <section id="about" class="bg_halloween_1">
            <div class="section_title" style="color: #4E323E;">about</div>
            <p><span th:text="${name}">이름</span>, <span th:text="${nickname}">nickname</span></p>
            <p><span th:text="${birthday}">생년월일</span></p>
            <p><span th:text="${email}">email</span></p>
        </section>

        <section id="skills" class="bg_halloween_5">
            <div class="section_title">skills</div>
            <h2>Programming Language / Web Tech</h2>
            <p>Java, Javascript, HTML5, CSS3, JSP, Vue.js, jQuery</p>
            <h2>Framework / Library</h2>
            <p>Spring Boot, Restful API, JPA, QueryDSL, eGovFramework, Spring MVC, mybatis, Ext JS</p>
            <h2>Database / Cache / Server </h2>
            <p>MSSQL, Oracle, MySQL, PostgreSQL, Redis, Apache Tomcat</p>
            <h2>Collaborations</h2>
            <p>Git, SVN, Jira, Confluence, Figma</p>
            <h2>Tools / Environment</h2>
            <p> IntellijJ IDEA, Eclipse, Gradle, Maven, Swagger, TDD, AWS, Jenkins, macOS, Windows</p>
        </section>

        <section id="career" class="bg_halloween_4">
            <div class="section_title">career</div>
            <h2>(주) 야**</h2>
            <p>2018.12 - 2023.10</p>
            <h2>(주) 내****</h2>
            <p>2017.05 - 2018.12</p>
            <h2>(주) 엔****</h2>
            <p>2015.11 - 2016.09</p>
        </section>

        <section id="archiving" class="bg_halloween_1">
            <div class="section_title" style="color: #4E323E;">archiving</div>
            <h2>GitHub</h2>
            <p><a href="https://github.com/vennygo">https://github.com/vennygo</a></p>
            <p>소스 코드 저장소</p><br/>
            <h2>TISTORY</h2>
            <p><a href="https://vennycode.tistory.com">https://vennycode.tistory.com</a></p>
            <p>공부 및 지식 공유 목적의 블로그</p>
        </section>

        <section id="projects">
            <div class="section_title" style="color: #8F2BCE;">projects</div>
            <h2>vennygo</h2>
            <p><a href="https://www.vennygo.com">https://www.vennygo.com</a></p>
            <p>개인 홈페이지</p>
        </section>
    </main>

    <script th:src="@{/js/about.js}"></script>
</html>
